
@font-face {
font-family: 'GenSenRounded2TW-B';
src:
    url(fontv2/GenSenRounded2TW-B.otf) format("opentype");
}
@font-face {
font-family: 'GenSenRounded2TW-R';
src:
    url(fontv2/GenSenRounded2TW-R.otf) format("opentype");
}
@font-face {
font-family: 'GenSenRounded2TW-H';
src:
    url(fontv2/GenSenRounded2TW-H.otf) format("opentype");
}
@font-face {
font-family: 'GenSenRounded2TW-L';
src:
    url(fontv2/GenSenRounded2TW-L.otf) format("opentype");

}
@font-face {
font-family: 'GenSenRounded2TW-M';
src:url(fontv2/GenSenRounded2TW-M.otf) format("opentype");
    
}

:root{
    --darkred:#782700;
    --red:#A23500;
    --darkgreen:#2A3F40;
    --lightgreen:#5C8B8C;
    --g01: #9AABAB;
    --g02: #A8BABA;
    --g03: #D1D6C2;
    --gray:#F7F8F8;
}

*{
    font-family: 'GenSenRounded2TW-L', sans-serif;
    
}

.FOR_TOP{
    width: 100%;
    height: 80px;
    padding: 0 40px;
    position: fixed;
    z-index: 998;
    background: #FFF;
}

.top_container{
    display: flex;
    max-width: 1800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}
.top_container > div{
    height: 100%;
}
.top_container > div > a{
    display: inline-block;
    height: 100%;
}

.top_container img{
    width: 250px;
    height: 100%;
}
    
.top_container .menu{
    display: flex;
    gap: 57px;
    height: 100%;
    align-items: center;
}

ul.menu a{
    font-family: 'GenSenRounded2TW-B', sans-serif;
    color: var(--lightgreen);
    font-size: 18px;
}
/* 側邊選單 */
.menu {
    display: flex;
    gap: 20px;
}

.menu_icon {
    display: none;
    cursor: pointer;
}

.menu_icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--lightgreen);
    margin: 6px 0;
}
.open_menu{
    display: none;
}


.FOR_MAIN{
    width: 100%;
    padding-top: 80px;
    overflow: hidden;
}
.FOR_MAIN .BN{
    width: 100%;
    position: relative;
    background: var(--g03);
}
.FOR_MAIN .BN img{
    width: 100%;
}



.BN p.btn_text {
    font-family: 'GenSenRounded2TW-B', sans-serif;
    font-size: clamp(16px,1.3vw,32px);
    line-height: 32px;
    color: #A23500;
    width: 100%;
    text-align: center;
    width: fit-content;
    position:absolute;
    bottom: 21%;
    right: calc((100vw - 65vw) / 2 + -0.5%);
}
.s1 p{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 18px; 
    line-height: 32px;
    color: #000;
    margin: 0 auto;
    max-width: 1000px;
}
.s1 p > a{
    font-family: 'GenSenRounded2TW-B', sans-serif;
    color: #0000A0;
    border-bottom: 1px solid #0000A0;
    padding-bottom: 1px;
}
.s1{
    background: var(--g03);
    width: 100%;
    padding: 50px 60px;
}

.s2{
    background: #98AAA9;
    padding: 148px 60px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.section_title{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    z-index: 2;
}
.section_title h1{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 32px;
    font-weight: 1000;
    line-height: 62px;
    letter-spacing: 0.05rem;
    color: var(--darkgreen);
    position: relative;
    z-index: 2;
}
.s2 .section_title{
    margin-bottom: 120px;
}
.section_title::before{
    content: '';
    width: 120px;
    height: 106px;
    display: block;
    position: absolute;
    left: -64px;
    top: 0;
    background: url(img/title_left.svg) no-repeat center top;
    background-size: 100%;
}
.section_title::after{
    content: '';
    width: 120px;
    height: 106px;
    display: block;
    position: absolute;
    right:-45px;
    bottom: -10px;
    background: url(img/title_right.svg) no-repeat center top;
    background-size: 100%;
}

.section_title img:last-child{
    width: 170px;
    position: absolute;
    right:-77px;
    bottom: -10px;
}

.card_section{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.card_list{
    width: 100%;
    display: flex;
    gap: 60px;
}
.card_list:not(:last-child){
    margin-bottom: 120px;
}
.card_section .card_item{
    width: 100%;
    position: relative;
    background: #FFF;
}

.card_item .img-box{
    position: relative;
    width: 100%;
    padding-top: calc(570 / 1080 * 100%); /* 保持 1080:570 的比例 */
    overflow: hidden;
}

.card_item .img-box > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover; /* 圖片等比例填滿容器 */
}
.text_section{
    padding: 48px 20px 16px;
    background: #FFF;
    position: relative;
}
.text_section p{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.card_title{
    position: absolute;
    top: -33px;
    left: -14px;
    display: flex;
    justify-self: flex-start;
}
.card_title .CT{
    background: #74291B;
    color: #FFF;
    position: relative;
    display: flex;
    padding: 12px 0 12px 20px;
    font-family: 'GenSenRounded2TW-b', sans-serif;;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: 0.05rem;
}

.card_title  img.card_right{
    width: 35px;
    position:relative;
    left:-1px;
}

.card_title .CT img.card_sticker{
    position: absolute;
    left: 0;
    bottom: -10px ;
    width: 14px;
}

/* 卡片新增按鈕 */
.sign_btn{
    display: inline-block;
    width: fit-content;
    background-color: #782700;
    color: #FFF;
    font-family: 'GenSenRounded2TW-b', sans-serif;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: 0.05rem;
    z-index: 2;
    padding: 8px 32px;
    transition: all 0.2s ease-in;
}
.sign_btn:hover{
    background-color: #933608;
    letter-spacing: 0.1rem;
}

.btn_outer{
    text-align: right;
}




.s3{
    width: 100%;
    background: var(--g02);
    padding: 170px 60px 140px;
    position: relative;
    overflow: hidden;
}

.s3::after{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_two_bg.svg)no-repeat bottom center;
    background-size: 100%;
    bottom: -2px;
    left: 0;
    width: 100%;
    max-height: 200px;
    height: 200px;
}

.s3 .section_title{
    margin-bottom: 60px;
}

.market_shop{
    max-width: 1000px;
    margin: 0 auto 110px;
    position: relative;
    z-index: 2;
}
.market_shop ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px 0;
    justify-content: center;
}
.market_shop ul:first-child{
    margin-bottom: 60px;
}

.market_shop ul li{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    max-width: 200px;
    align-items: center;
}

.market_shop ul li a{
    display: block;
    width: 165px;
    height: 165px;
    border-radius: 1000px;
    background: #FFF;
    overflow: hidden;
    cursor: pointer;
}

.market_shop ul li a:hover img{transform: scale(1.3);}
.market_shop ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition:all 0.3s ease-in-out;
}


.market_shop ul li p{
    font-family: 'GenSenRounded2TW-B', sans-serif;
    font-size: 18px;
    color: var(--lightgreen);
    line-height: 1.4;
    /* font-weight: bold; */
    letter-spacing: 0.05rem;;
    max-width: 150px;
    text-align: center;
}

ul.see_more{
    display: none;
    position: relative;
}
.s3 > a{
    display: block;
    padding: 0 3vw;
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--darkgreen);
    width: fit-content;
    position: relative;
    z-index: 2;
}
.s3 > a > p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    color: var(--darkgreen);
    line-height: 62px;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    padding-right: 43px;
}
.s3 > a > p:after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    width: 24px;
    height: 68px;
    background: url(img/arrow.svg)no-repeat center center;
    background-size: 24px;
}

.show{
    display: flex!important;
}
.see_more_open{
    display: none;
}
.see_more_open.show{
    display: block;
}
.hide{
    display: none;
}

.modal {
    display: none; /* 初始隱藏 */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 36px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    border-radius: 16px;
    height: 500px;
}

.modal_outer{
    display: flex;
    gap: 16px;
    height: 100%;
}
.modal_imgbox{
    max-width: 60%;
    height: 100%;
    width: 60%;
}
.modal-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.modal_right{
    padding: 12px 0;
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; /* 確保 modal_right 區塊填滿高度 */
}

.modal-content .modal_subtitle {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
    color: var(--g01);
    padding-bottom: 12px;
    border-bottom: 1px solid var(--darkgreen);
    margin-bottom: 12px;
}

.modal-content .modal_name{
    font-family: 'GenSenRounded2TW-B', sans-serif;
    font-size: 24px;
    color: var(--darkgreen);
   
}
.modal-content .modal_name br{
    display: none;
}
.modal_textcontent{
    overflow-y: auto;
    padding-right: 12px;
}

.modal_textcontent::-webkit-scrollbar {
    width: 15px; 
}

.modal_textcontent::-webkit-scrollbar-track {
    background: #e6e6e6; 
    border-radius: 10px;  
}

.modal_textcontent::-webkit-scrollbar-thumb {
    background: var(--lightgreen); /* 滑塊顏色 */
    border-radius: 10px; /* 滑塊圓角 */
    border: 3px solid #e6e6e6;
}

.modal_textcontent::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.modal-content .modal_content{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 16px;
    color: #251E1C;
    line-height: 36px;
    
}
.body-no-scroll {
    overflow: hidden;
    height: 100%; 
}

.close {
    position: absolute;
    top: -40px;
    right: 5px;
    color: var(--darkgreen);
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: var(--g02);
}

.s4{
    padding: 110px 60px;
    background: #98AAA9;
    position: relative;
}
.s4 .section_title{
    margin-bottom: 60px;
}
.action_map{
    /* max-width: 1000px; */
    /* margin: 0 auto;
    position: relative;
    z-index: 2; */
    width: 100%;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.action_map > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map_1000px .auto_size{
    height: auto;
    padding: 0;
}
.map_1000px .auto_size > img{
    width: 100%;
    height: auto;
    position: relative;
}

.FOR_FOOTER{
    width: 100%;
    padding: 48px 60px;
    background: var(--darkgreen);
}
.FOR_FOOTER .Logo_box{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
}

.FOR_FOOTER ul > li{
    display: flex;
    gap: 16px;
    width: 100%;
}
.FOR_FOOTER ul > li > ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.FOR_FOOTER ul li p{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 18px;
    line-height: 46px;
    color: var(--gray);
    min-width: fit-content;
}
.FOR_FOOTER ul li img{
    height: 38px;
}

.copyright{
    width: 100%;
    padding: 12px 32px;
    background: #1e2d2e;
}
.copyright p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: var(--gray);

}

/* 特色活動圖片定位 */
.s2{position: relative;}
.flowers{position: absolute;transition: all 0.2s ease-in-out;}
.s2 .s01{
    width: 20vw;
    height: auto;
    right: 0;
    top:148px;
    max-width:300px;
}
.s2 .s02{
    width: 9vw;
    height: auto;
    left: 10vw;
    top:12vw;
     max-width: 173px;
}

.s2 .s03{
    width: 20vw;
    height: auto;
    left: -70px;
    top:30%;
    max-width: 384px;
}
.s2 .s04{
    width: 68px;
    height: auto;
    right: 5.2vw;
    top:35%;
    max-width: 68px;
}
.s2 .s05{
    width: 13vw;
    height: auto;
    right: -30px;
    top:48%;
    max-width: 250px;
}
.s2 .s06{
    width: 19vw;
    height: auto;
    left: -100px;
    bottom: 18%;
    max-width: 365px;
}
/* 市集攤位圖片定位 */
.s3{position: relative;}
.s201{
    width: 3.5vw;
    height: auto;
    left: 9.3vw;
    top: 200px;
    max-width: 70px;
}
.s202{
    width: 10.5vw;
    height: auto;
    right: 0;
    top: 480px;
    max-width: 207px;
}
.s203{
    width: 24vw;
    height: auto;
    left: -90px;
    top: 800px;
    max-width: 475px;
}

.s204{
    width: 4vw;
    height: auto;
    right: 8vw;
    top: 1000px;
    max-width: 80px;
}

.s205{
    width: 20vw;
    height: auto;
    right: -60px;
    top: 55%;
    max-width: 400px ;
   
}
.s206{
    width: 14vw;
    height: auto;
    left: -60px;
    top: 50%;
    max-width: 270px;
}

.s207{
    width: 3vw;
    height: auto;
    left: 12%;
    bottom: 15%;
}

.s208{
    width: 3vw;
    height: auto;
    right: 12%;
    bottom: 20%;
}

.s301{
   max-width: 290px;
   width: 15vw;
    top :15%;
    left: 10%;
}

.s302{
    max-width: 400px;
    width: 20vw;
    top :15%;
    right: 0;
 }

 .s303{
    max-width: 400px;
    width: 20vw;
    top :50%;
    left: -10vw;
 }
 .s304{
    max-width: 68px;
    width: 3.5vw;
    top :45%;
    right: 5vw;
 }

 /* 如何抵達 */

 .map_area{
    background: var(--g01);
    width: 100%;
    padding: 80px 60px 200px; 
    position: relative;
    overflow: hidden;
 }
 

.map_area .section_title{
    margin-bottom: 60px;
}

.map_container {
    width: 100%;
    max-width: 600px;
    height: 600px;
    flex: none;
}

.map_container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.map_outer{
    display: flex;
    gap: 24px;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.location_info{
    display: flex;
    flex-direction: column;
}
.location_info ul > li{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 20px;
    line-height: 46px;
    color: #251e1c;
}

.location_info ul > li:first-child{
    font-family: 'GenSenRounded2TW-B', sans-serif;
    color: #FFF;
    font-size: 24px;
}


/* 互動導覽 */
.interaction{
    padding: 150px 60px 80px;
    background:var(--g02);
    position: relative;
}
.interaction::before{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_one_bg.svg) no-repeat top center;
    background-size: 100%;
    top: -1px;
    left: 0;
    width: 100%;
    height: 200px;
}

.interaction a{
    margin: 36px auto 0;
    width: fit-content;
    border: 1px solid var(--darkred);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    color: var(--darkred);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 12px 32px;
    align-items: center;
    transition: all 0.3s ease-in;
    z-index: 2;
    position: relative;
}

.interaction a:hover{
    background: var(--darkred);
    color: #FFF;
}
.interaction .section_title{
    margin-bottom: 60px;
}

.qrcode_fixed{
    position: fixed;
    bottom: 36px;
    right: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    z-index: 998;
    width: 150px;
    height: auto;
    transition: all 0.3s ease-in;
}

.qrcode_fixed .qrcode_img{
    width: 150px;
    height: 150px;
    /* padding: 10px; */
    background: #FFF;
    box-shadow: 8px 8px #5c8b8c;
}
.qrcode_fixed .qrcode_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.qrcode_fixed .qrcode_Text{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: var(--darkgreen);
    width: 100%;
    line-height: 40px;
    padding: 15px 12px;
    text-align: center;
    border-radius: 100px;
    letter-spacing: 0.05em;
    box-shadow: 8px 8px #5c8b8c;
}

a.qrcode_fixed:hover{
    bottom: 40px;
    right: 40px;
}
.yt_box_outer{
    max-width: 1000px;
    margin: 24px auto;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* 市集攻略 */
.s4.market_strategy{
    padding: 0;
    position: relative;
}

.s4.market_strategy::before{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_one_bg.svg) no-repeat top center;
    background-size: 100%;
    top: -1px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
}
.s4.market_strategy::after{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_two_bg.svg) no-repeat bottom center;
    background-size: 100%;
    bottom: -2px;
    left: 0;
    width: 100%;
    max-height: 200px;
    height: 200px;
    z-index: 2;
}
.img_outer{
    padding: 150px 60px;
    background: var(--g02);
    position: relative;
    overflow: hidden;
}
.market_strategy .s201{
        top: 25%;
        left: 8%;
        width: 3.5vw;
}
.market_strategy .s201_2{
    display: none
}

.market_strategy .s205{
    width: 16vw;
    min-width: 150px;
    top: 16%;
    right: -80px;
}

.market_strategy .s203{
    top: 50%;
    left: -130px;
}
.market_strategy .s208{
    top: 50%;
    right: 8%;
}

.market_strategy .img05{
    width: 10vw;
    bottom: 10%;
    right: -80px;
    transform: rotateX(-178deg) rotateZ(275deg);
}

.s4.interaction .s203{
    top: 15%;
    width: 20vw;
}
.s4.interaction .s207_1{
    right: 7%;
    width: 3.5vw;
    top: 30%;
}
.s4.interaction .s207_2{
    bottom: 30%;
    width: 3.5vw;
    left: 6%;

}
.s4.interaction .s302{
    width: 16vw;
    bottom: 15%;
    right: -30px;
    top: unset;
    transform: rotateZ(309deg);
}

.s4.interaction .s303_mob, .s4.interaction .S2_05{
    display: none;
}
.s4.interaction{
    padding: 0;
    background: var(--g01);
}
.interaction_outer{
    padding: 170px 60px 80px;
    position: relative;
    overflow: hidden;
}
.map_1000px{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.s3_info{
    max-width: 1000px;
    margin: 0 auto 68px;
    position: relative;
    padding: 0 30px;
    z-index: 2;
}

.s3_info  p{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #000;
}


.s3_info  p.red_text{
    font-family: 'GenSenRounded2TW-B', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #A23500;
}

/* 人文特展版位 */
.exhibition_part{
    background: #A8BABA url(img/owl/exh_bg.png) no-repeat top / cover;
    padding: 160px 60px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.exhibition_part::before{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_one_bg.svg) no-repeat top center;
    background-size: 100%;
    top: -1px;
    left: 0;
    width: 100%;
    height: 200px;
}
.exhibition_part::after{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_two_bg.svg) no-repeat bottom center;
    background-size: 100%;
    bottom: -2px;
    left: 0;
    width: 100%;
    max-height: 200px;
    height: 200px;
}

.exhibition_part .section_title{
    margin-bottom: 40px;
}

.exhibition_part .card_item{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}
.exhibition_part .card_list{
    gap: 20px;
    height: 100%;
}
.exhibition_part .card_section{
    max-width: 1200px;
}

.exhibition_part .text_section{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.exhibition_part  .card_title .CT{
    font-size: 14px;
}

/* 輪播 */

.img_carousel{
    margin-top: 48px;
}
.owl-carousel {
    position: relative;
    padding: 0 20px;
}

.owl-carousel::before,
.owl-carousel::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    background: rgba(209, 214, 194, 1); 
    pointer-events: none;
    z-index: 10;
}

.owl-carousel::before {
    left: 20px;
    background: linear-gradient(to right, rgba(209, 214, 194, 1) 0%, rgba(209, 214, 194, 0) 100%); /* 左邊漸層 */
}

.owl-carousel::after {
    right: 20px;
    background: linear-gradient(to left, rgba(209, 214, 194, 1) 0%, rgba(209, 214, 194, 0) 100%); /* 右邊漸層 */
}


.carousel-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.owl-carousel .owl-stage-outer{
    padding: 5px 0;
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    aspect-ratio: 1080 / 1920; 
    box-shadow: 2px 2px 5px rgb(0 0 0 / 75%);
}

.owl-carousel .item a {
    display: block;
    width: 100%;
    height: 100%;
}

.owl-carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owl-nav {
    position: absolute;
    top: calc(50% - 16px);
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    pointer-events: none;
}

.owl-nav button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    pointer-events: auto;
}

.owl-dots {
    text-align: center;
    margin-top: 36px;
}

.owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background: #55574E;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.owl-dots .owl-dot.active span {
    background: #A8BABA;
}

.img_carousel .owl-carousel .owl-nav button.owl-prev, .img_carousel .owl-carousel .owl-nav button.owl-next{
    width: 32px;
    height: 32px;
    background: url(img/owl/c_arrow.png) no-repeat center / 100%;
    text-indent: -99999px;
}

.img_carousel .owl-carousel .owl-nav button.owl-prev{
    transform: scaleX(-1);
}

@media screen and (max-width:1023px) {
    
    .modal_imgbox{
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .modal_right{
        width: 100%;
        height: auto;
    }
    .modal_outer{
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-right: 12px;
    }

    .modal_outer::-webkit-scrollbar {
        width: 15px; 
    }
    .modal_outer::-webkit-scrollbar-track {
        background: #e6e6e6; 
        border-radius: 10px;  
    }
    .modal_outer::-webkit-scrollbar-thumb {
        background: var(--lightgreen); /* 滑塊顏色 */
        border-radius: 10px; /* 滑塊圓角 */
        border: 3px solid #e6e6e6;
    }
    /* 當滑鼠懸停在滑塊上時的顏色變化 */
    .modal_outer::-webkit-scrollbar-thumb:hover {
        background: #555; /* 滑鼠懸停時的滑塊顏色 */
    }
    .modal-content{
        padding: 20px;
        height: 70%;
    }
    .map_outer{
        flex-direction: column;
        justify-content: center;
    }
    .map_container{
        max-width: 100%;
        max-height: calc(100vw - 120px);
        height: calc(100vw - 120px);
    }
    .map_area{
        padding: 100px 60px;
    }
    .exhibition_part .card_list{
        flex-direction: column;
        gap: 60px;
    }
    

}

@media screen and (max-width:960px) {
    .BN > img{
        content: url(img/pic/BN_mob.png);
    }
    .BN .btn_text{
        position: relative;
        justify-content: center;
        bottom: unset;
        right: unset;
    }
    
    
    /* 顯示側邊選單 */
    .top_container .menu{
        display: none;
    }
    .top_container .open_menu {
        display: none;
        position: fixed;
        top: 80px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color:#FFF;
        padding-top: 100px;
        transition: all 0.3s ease;
        z-index: 1000;
    }

    .open_menu.show {
        left: 0;
        flex-direction: column;
        align-items: center;
    }

    .top_container .open_menu li{
        padding: 30px 0;
        border-bottom: 1px solid var(--g01);
        width: 80%;
        text-align: center;
    }
    .top_container .open_menu li:last-child{
        border-bottom: none;
    }
    .top_container .open_menu li a{
        font-family:  'GenSenRounded2TW-B', sans-serif;
        font-size: 18px;
        display: inline-block;
        width: 100%;
        color: var(--lightgreen);

    }

    .top_container .menu_icon {
        display: block;
        height: fit-content;
    }

    .top_container {
        justify-content: space-between;
        align-items: center;
    }
    .FOR_FOOTER{
        padding:  60px 32px;
    }
    .FOR_FOOTER ul li p{
        font-size: 16px;
        line-height: 18px;
    }
    .FOR_FOOTER ul li img{
        height: 18px;
    }
    .FOR_FOOTER ul > li:first-child{
        align-items: center;
    }
    .s4{
        padding: 80px 60px;
    }
    .s4 .section_title{
        margin-bottom: 80px;
    }
    .copyright p{
        font-size: 9px;
    }
    .market_shop ul:first-child{
        margin-bottom: 16px;
    }
    .BN p.btn_text{
        font-size: 16px;
        bottom: 4%;
        width: 100%;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }
   .s1{
    padding: 0 0px 50px;
   }
   .qrcode_fixed{
    width: 70px;
    gap: 16px;
    right: 20px;
    bottom: 20px;
   }
   .qrcode_fixed .qrcode_img{
    width: 70px;
    height: 70px;
    box-shadow: 4px 4px #5c8b8c;
   }
   .qrcode_fixed .qrcode_Text{
    font-size: 12px;
    padding: 0 6px;
    box-shadow: 4px 4px #5c8b8c;
   }
   .s3 .section_title{
    margin-bottom: 60px;
   }
   .location_info ul > li{
    font-size: 16px;
   }
   .location_info ul > li:first-child{
    font-size: 20px;
   }
   .location_info{
    gap: 8px;
   }
   .interaction_outer{
    padding: 130px 60px 60px;
   }
   .sign_btn{
    position: relative;
    font-size: 18px;
    line-height: 24px;
    bottom: unset;
    right: unset;
    margin-top: 8px;
   }

   .yt_box_outer{
    padding: 0 40px;
   }
   .s1 p{
    padding: 0 40px;
   }

}

@media screen and (max-width:768px){
    .s2 .section_title{
        margin-bottom: 60px;
    }
    .card_section{
        display: flex;
        flex-direction: column;
        gap: 60px;
        max-width: 500px;
        width: 100%;
    }
    .card_list{
        gap: 60px;
        flex-direction: column;
   
    }
   
    .card_item > img{
        height: 39vw;
    }
    .card_list:not(:last-child){
        margin-bottom: unset;
    }
    .s2{
        padding: 80px 60px;
    }
    .text_section{
        padding: 36px 20px 16px;
    }
   
    .market_shop ul{
        justify-content: space-evenly;
    }
    
    .market_shop ul li{
        width: 100%;
        max-width: calc((100vw - 120px) / 3);
        gap: 12px;
    }
    .market_shop ul li a{
        width: 95px;
        height: 95px;
    }
    .market_shop ul li p{
        font-size: 16px;
        width:100%;
    }
    .s3 > a{
        padding: 8px 32px;
        width: fit-content;
        height: auto;
    }
    .s3 > a > p{
        font-size: 16px;
        line-height: 20px;
        padding-right: 32px;
    }
    .s3 > a > p:after{
        width: 16px;
        height: 25px;
        background-size: 16px;
    }
    .BN .button{
        max-width: calc(100% - 120px);
        margin: 0 auto;
    }
    .BN .button a{
        font-size: 24px;
        width: 100%;
        text-align: center;
        line-height: 48px;
    }
    .s2 .s06{
     left: -50px;   
    }

    .map_area .s302{
        max-width: 400px;
        width: 27vw;
        top: 15%;
        right: -8%;
    }
    .map_area .s303{
        width: 150px;
        top: 70%;
        left: -19%;
    }

    .map_area .s304{
        width: 49px;
        right: 10%;
        top: 60%;
    }

    .market_strategy .s205{
        width: 190px;
        top: 19%;
    }

    .market_strategy .s201{
        top: 23%;
        width: 36px;
    }
    .market_strategy .s203{
        left: -60px;
        top: unset;
        bottom: 5%;
        width: 210px;
    }

    .market_strategy .s208{
        bottom: 15%;
        width: 20px;
        top: unset;
        right: 3%;
    }

    .market_strategy .img05{
        display: none;
    }
    .market_strategy .s201_2{
        display: block;
        bottom: 5%;
        right: 13%;
        /* width: 3.5vw; */
        width: 30px;
    }
    .s4.interaction .s203{
        left: -100px;
        width: 190px;
        rotate: -32deg;
    }
   
    .s4.interaction .s207_1 {
        width: 20px;
        top: 12%;
    }
    .s4.interaction .s303_mob{
        display: block;
        width: 190px;
        bottom: 10%;
        right: -100px;
        rotate: 180deg;
    }
    .s4.interaction .S2_05{
        width: 200px;
        left: -70px;
        bottom: 6%;
        display: block;
        rotate: 149deg
    }
    .s4.interaction .s302{
        top: 24%;
        bottom: unset;
        width: 170px;
        rotate: 60deg;
        right: -50px;
    }
    .exhibition_part .card_list{
        gap: 60px;
    }
    
}

@media screen and (max-width:500px) {
    .card_title{
        top: -20px;
    }
    .card_title .CT{
        font-size: 18px;
        line-height: 40px;
        height: 40px;
        padding: 0 0 0 12px; 
        text-align: left;
    }
    .card_title img.card_right{
        height: 40px;
        width: 22px;
    }
    .card_item > img{
        height: calc((100vw - 120px) / 1.9);
    }
    .s3{
        padding: 80px 32px 70px;
    }
    .market_shop ul li p{
        font-size: 12px;
    }
    .market_shop ul{
        gap: 16px 0;
    }
    .market_shop ul li a{
        width:75px;
        height: 75px;
    }
    .market_shop{
        margin-bottom: 30px;
    }
    .BN .button{
        max-width: calc(100% - 120px);
        margin: 0 auto;
        gap: 8px;
    }
    .BN .button a{
        font-size: 18px;
        width: 100%;
        text-align: center;
        line-height: 48px;
    }
    .s3 .section_title{
        margin-bottom: 80px;
    }

    .s2 .s02 {
        width: 90px;
        height: auto;
        left: 0vw;
        top: 32vw;
        max-width: 173px;
    }
    .s2 .s03 {
        width: 30vw;
        height: auto;
        left: -40px;
        top: 30%;
    }

    .s2 .s05 {
        width: 23vw;
        height: auto;
        right: -20px;
        top: 73%;
        max-width: 250px;
    }

    .s2 .s06 {
        width: 29vw;
        height: auto;
        left: -30px;
        bottom: 30px;
        max-width: 365px;
    }

    .s2 .s04 {
        width: 38px;
        height: auto;
        right: 5.2vw;
        top: 50%;
        max-width: 68px;
    }

    .s2 .s01 {
        width: 27vw;
        height: auto;
        right: -20px;
        top: 268px;
        max-width: 300px;
    }


    .s201{
        width: 35px;
        top: 120px;

    }
    .s202 {
        width: 100px;
        height: auto;
        right: 0;
        top: 130px;
        max-width: 207px;
    }
    
    .s203{
        left: -60px;
        top: 400px;
        width: 34vw;
    }

    .s204{
        width: 7vw;
        height: auto;
        right: 3%;
        top: 700px;
        max-width: 80px;
    }
   .s205 {
        width: 20vw;
        right: -40px;
        top: 55%;
    }
    .s206{
        left: -20px;
        width: 20vw;
        top: 65%;
    }
    .s207{
        left: 5%;
    }
    .s208{
        right: 3%;
        bottom: 120px;
    }

    .s302 {
        max-width: 400px;
        width: 27vw;
        top: 23%;
        right: 0;
    }

    .s301 {
        max-width: 290px;
        width: 20vw;
        top: 23%;
        left: 6%;
    }

    .see_more_open{
        display: block;
    }
    .BN p.btn_text{
        font-size: 16px;
        bottom: 2%;
    }
    .exhibition_part{
        padding: 80px 32px;
    }
    .exhibition_part .card_title .CT{
        font-size: 14px;
    }
   

    .s2, .map_area, .img_outer{
        padding: 80px 32px;
    }
    .interaction_outer{
        padding: 130px 32px 68px;
    }
   
}


@media screen and (max-width:400px) {
    .FOR_TOP{
        padding: 0 32px;
    }
    .top_container img{
        width: 200px;
    }
    .s2{
        padding: 80px 32px;
    }
    .text_section{
        padding: 20px 20px 16px;
    }
    .s1{
        padding: 40px 8px;
    }
    .s3{
        padding: 40px 32px 70px;
    }
    .s4{
        padding: 40px 32px;
    }
    .BN .button{
        max-width: calc(100% - 64px);
        margin: 0 auto;
        gap: 8px;
        width: 100%;
    }
    .BN .button a{
        font-size: 18px;
        width: 100%;
        text-align: center;
        line-height: 48px;
    }
    .exhibition_part{
        padding: 80px 32px;
    }
    .exhibition_part .card_title .CT{
        font-size: 12px;
    }
}


