@font-face {
    font-family: 'GenSenRounded2TW-B';
    src:url(../font/GenSenRounded2TW-B.otf) format("opentype");
  }
  @font-face {
    font-family: 'GenSenRounded2TW-R';
    src:url(../font/GenSenRounded2TW-R.otf) format("opentype");
  }
  @font-face {
    font-family: 'GenSenRounded2TW-H';
    src:url(../font/GenSenRounded2TW-H.otf) format("opentype");
  }
  @font-face {
    font-family: 'GenSenRounded2TW-L';
    src:url(../font/GenSenRounded2TW-L.otf) format("opentype");
  }
  @font-face {
    font-family: 'GenSenRounded2TW-M';
    src:url(../font/GenSenRounded2TW-M.otf) format("opentype");
  }
  
:root{
    --darkred:#782700;
    --red:#A23500;
    --darkgreen:#2A3F40;
    --lightgreen:#5C8B8C;
    --g01: #9AABAB;
    --g02: #A8BABA;
    --g03: #D1D6C2;
    --gray:#F7F8F8;
}

*{
    font-family: 'GenSenRounded2TW-L', sans-serif;
}

.FOR_TOP{
    width: 100%;
    height: 80px;
    padding: 0 40px;
    position: fixed;
    z-index: 998;
    background: #FFF;
}

.top_container{
    display: flex;
    max-width: 1800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}
.top_container > div{
    height: 100%;
}
.top_container > div > a{
    display: inline-block;
    height: 100%;
}

.top_container img{
    width: 250px;
    height: 100%;
}
    
.top_container .menu{
    display: flex;
    gap: 57px;
    height: 100%;
    align-items: center;
}

ul.menu a{
    font-family: 'GenSenRounded2TW-B', sans-serif;
    color: var(--lightgreen);
    font-size: 18px;
}
/* 側邊選單 */
.menu {
    display: flex;
    gap: 20px;
}

.menu_icon {
    display: none;
    cursor: pointer;
}

.menu_icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--lightgreen);
    margin: 6px 0;
}
.open_menu{
    display: none;
}


.FOR_MAIN{
    width: 100%;
    padding-top: 80px;
}
.FOR_MAIN .BN{
    width: 100%;
    position: relative;
    background: var(--g03);
}
.FOR_MAIN .BN img{
    width: 100%;
}
.BN .button{
    display: flex;
    position: absolute;
    bottom: 15%;
    right: calc((100vw - 65vw) / 2);
    gap: 45px;
}
.BN .button a{
    display: block;
    padding: 0 3vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 62px;
    color: var(--red);
    border: 1px solid var(--red);
    transition: all 0.3s ease-in;
}
.BN .button a:hover{
    background: var(--red);
    color: var(--gray);
}
.s1 p{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 18px; 
    line-height: 32px;
    color: #000;
    margin: 0 auto;
    max-width: 1000px;
}
.s1{
    background: var(--g03);
    width: 100%;
    padding: 50px 60px;
}

.s2{
    background: var(--g01);
    padding: 148px 60px;
    width: 100%;
    text-align: center;
}
.section_title{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.section_title h1{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 32px;
    font-weight: 1000;
    line-height: 62px;
    letter-spacing: 0.05rem;
    color: var(--darkgreen);
    position: relative;
    z-index: 2;
}
.s2 .section_title{
    margin-bottom: 120px;
}
.section_title::before{
    content: '';
    width: 170px;
    height: 153px;
    display: block;
    position: absolute;
    left: -94px;
    top: 0;
    background: url(img/title_left.svg) no-repeat center top;
    background-size: 100%;
}
.section_title::after{
    content: '';
    width: 170px;
    height: 153px;
    display: block;
    position: absolute;
    right:-77px;
    bottom: -10px;
    background: url(img/title_right.svg) no-repeat center top;
    background-size: 100%;
}

.section_title img:last-child{
    width: 170px;
    position: absolute;
    right:-77px;
    bottom: -10px;
}

.card_section{
    max-width: 1000px;
    margin: 0 auto;
}
.card_list{
    width: 100%;
    display: flex;
    gap: 60px;
}
.card_list:not(:last-child){
    margin-bottom: 120px;
}
.card_section .card_item{
    width: 100%;
    position: relative;
    background: #FFF;
}

.card_item > img{
    object-fit: cover;
    width: 100%;
    height: 318px;
}
.text_section{
    padding: 48px 20px 16px;
    background: #FFF;
}
.text_section p{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_title{
    position: absolute;
    top: 285px;
    left: -14px;
    display: flex;
}
.card_title .CT{
    background: #782700;
    color: #FFF;
    position: relative;
    display: flex;
    padding: 12px 20px;
    font-family: 'GenSenRounded2TW-b', sans-serif;;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: 0.05rem;
}

.card_title  img.card_right{
    width: 35px;
}
.card_title .CT img.card_sticker{
    position: absolute;
    left: 0;
    bottom: -11px ;
    width: 14px;
}

.s3{
    width: 100%;
    background: var(--g02);
    padding: 170px 60px 140px;
    position: relative;
}
.s3::before{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_one_bg.svg)no-repeat top center;
    background-size: 100%;
    top: -1px;
    left: 0;
    width: 100%;
    height: 110px;
}
.s3::after{
    position: absolute;
    display: block;
    content: '';
    background: url(img/area_two_bg.svg)no-repeat bottom center;
    background-size: 100%;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 110px;
}

.s3 .section_title{
    margin-bottom: 126px;
}

.market_shop{
    max-width: 1000px;
    margin: 0 auto 110px;

}
.market_shop ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 60px 0;
    justify-content: center;
}
.market_shop ul:first-child{
    margin-bottom: 60px;
}

.market_shop ul li{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    max-width: 200px;
    align-items: center;
}

.market_shop ul li a{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    background: #FFF;
    overflow: hidden;
    cursor: pointer;
}
.market_shop ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.market_shop ul li p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    color: var(--lightgreen);
    font-weight: bold;
    letter-spacing: 0.05rem;;
    max-width: 150px;
    text-align: center;
}

ul.see_more{
    display: none;
}
.s3 > a{
    
    display: block;
    width: 300px;
    height: 90px;
    
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--darkgreen);
}
.s3 > a > p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    color: var(--darkgreen);
    line-height: 90px;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    padding-right: 43px;
}
.s3 > a > p:after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    width: 24px;
    height: 90px;
    background: url(img/arrow.svg)no-repeat center center;
    background-size: 24px;
}

.show{
    display: flex!important;
}
.hide{
    display: none;
}

.modal {
    display: none; /* 初始隱藏 */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

.modal-content p {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.s4{
    padding: 110px 60px;
    background: var(--g01);
}
.s4 .section_title{
    margin-bottom: 140px;
}
.action_map{
    max-width: 1000px;
    height: 800px;
    margin: 0 auto;
}
.action_map > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.FOR_FOOTER{
    width: 100%;
    padding: 92px 60px;
    background: var(--darkgreen);
}
.FOR_FOOTER .Logo_box{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
}

.FOR_FOOTER ul > li{
    display: flex;
    gap: 16px;
    width: 100%;
}
.FOR_FOOTER ul > li > ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.FOR_FOOTER ul li p{
    font-family: 'GenSenRounded2TW-R', sans-serif;
    font-size: 28px;
    line-height: 46px;
    color: var(--gray);
    min-width: fit-content;
}
.FOR_FOOTER ul li img{
    height: 38px;
}



@media screen and (max-width:960px) {
    .BN > img{
        content: url(img/BN02.jpg);
    }
    .BN .button{
        position: relative;
        justify-content: center;
        bottom: unset;
        right: unset;
    }
    .card_title{
        top: calc(26vw - 33px);
    }
    .card_item > img{
        height: 26vw;
    }
    /* 顯示側邊選單 */
    .top_container .menu{
        display: none;
    }
    .top_container .open_menu {
        display: none;
        position: fixed;
        top: 80px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color:#FFF;
        padding-top: 100px;
        transition: all 0.3s ease;
        z-index: 1000;
    }

    .open_menu.show {
        left: 0;
        flex-direction: column;
        align-items: center;
    }

    .top_container .open_menu li{
        padding: 30px 0;
        border-bottom: 1px solid var(--g01);
        width: 80%;
        text-align: center;
    }
    .top_container .open_menu li:last-child{
        border-bottom: none;
    }
    .top_container .open_menu li a{
        font-family:  'GenSenRounded2TW-B', sans-serif;
        font-size: 18px;
        display: inline-block;
        width: 100%;
        color: var(--lightgreen);

    }

    .top_container .menu_icon {
        display: block;
        height: fit-content;
    }

    .top_container {
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width:768px){
    .s2 .section_title{
        margin-bottom: 60px;
    }
    .card_section{
        display: flex;
        flex-direction: column;
        gap: 60px;
        max-width: 500px;
    }
    .card_list{
        gap: 60px;
        flex-direction: column;
   
    }
    .card_title{
        top: calc(39vw - 33px);
    }
    .card_item > img{
        height: 39vw;
    }
    .card_list:not(:last-child){
        margin-bottom: unset;
    }
    .s2{
        padding: 80px 60px;
    }
    .text_section{
        padding: 36px 20px 16px;
    }
}

@media screen and (max-width:400px) {
    .FOR_TOP{
        padding: 0 32px;
    }
    .top_container img{
        width: 200px;
    }
    .s2{
        padding: 80px 32px;
    }
    .text_section{
        padding: 20px 20px 16px;
    }
    .s1{
        padding: 40px 32px;
    }
}

